body {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-image: url("../background.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 900;
  background-blend-mode: lighten;
  font-size: 18px;
}
#displayResult {
  background: rgba(255, 255, 255, 1);
}
#displayFavorites {
  background: rgba(255, 255, 255, 1);
}
div.transbox {
  background: rgba(255, 255, 255, 1);
}
.ontop {
  font-weight: bold;
  opacity: 1;
}
div.transbox img {
  font-weight: bold;
  opacity: 1;
}
.real {
  opacity: 1;
}

main {
  flex: 1 0 auto;
  font-weight: 900;
}
div.form {
  display: inline-block;
  font-weight: 900;
}
form {
  margin-bottom: 20px;
}
#msg.error {
  color: #e6252c;
}
h1 {
  font-weight: 900;
}
p {
  font-weight: 900;
}
