body {
     text-align: center;
}
/* header {
     height: 50px;
} */
div.form {
     display: inline-block;
}
.navbar-header {
     float: left;
     padding: 15px;
     text-align: center;
     width: 100%;
     color: white;
     font-size: 50px;
}
.navbar-brand {
     float: none;
     text-align: center;
     font-size: 50px;
}

.navbar-footer{
     float: left;
     padding: 15px;
     text-align: center;
     width: 100%;
     color: white;
     font-size: 25px;
}

form {
     margin-bottom: 20px;
}

<<<<<<< HEAD
#msgid.error {
     color: #e6252c;
     font-size: 20px;
=======
#msg.error {
  color: #e6252c;
>>>>>>> 0e88d279f12c4267c12be27e33f9186939cdf3d8
}

h1 {
     font-weight: bold;
}
ul {
     border: 1px solid gray;
}
img {
     float: right;
     padding-right: 20px;
}
.result {
     border: 1px solid gray;
}

.paraContainer {
     display: flex;
}

.city {
     background-color: white;
     border-width: thin;
     border-color: #80808052;
}
p {
     text-align: left;
     padding-left: 20px;
}
.summary {
     margin-bottom: 100px;
}
